@{
  Layout = "_Layout";
}

<h1>The Petshop Boys</h1>
<input type="button" class="btn btn-success" value="Home" onclick="location.href='@Url.Action("Action", "Controller")'" />
<p>@Html.ActionLink("See all animals", "Index", "Animal")</p>